@import 'reset.css';

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  width: 100%;
}

nav {
  margin-bottom: 30px;
  padding: 15px 0;
  background-color: #333333;
}

ul {
  width: 960px;
  margin: 0px auto;
  height: 70px;
}

li {
  display: inline-block;
}

#logo {
  width: 200px;
  height: 70px;
  float: left;
}

li:not(#logo) {
  width: 100px;
  margin: 0 45px;
  padding: 27px 0;
  vertical-align: top;
  text-align: center;
  float: left;
}

li a {
  text-decoration: none;
  color: #cccccc;
  font-family: sans-serif;
}

main {
  width: 960px;
  margin: 0 auto;
}

#hero {
  height: 450px;
  margin-bottom: 30px;
}

#cards {
  height: 375px;
  margin-bottom: 30px;
}

.third {
  width: 300px;
  height: 375px;
  margin-left: 30px;
  float: left;
}

.third:nth-of-type(1) {
  margin-left: 0px;
}

#featured {
  height: 400px;
  margin-bottom: 30px;
}

.half {
  width: calc(480px - 30px);
  height: 400px;
  float: right;
}

.half:first-of-type {
  width: 480px;
  float: left;
}

h2 {
  font-weight: bold;
  font-size: 1.375em;
  font-family: sans-serif;
}

.featured-content {
  margin: 15px 0;
  overflow: scroll;
  height: 315px;
}

.featured-content p {
  margin-bottom: 1em;
  font-style: italic;
}

#featured button {
  padding: 8px 30px;
  border: none;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 1.0);
  color: #cccccc;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 350ms;
}

#featured button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color 350ms;
}

footer {
  height: 100px;
  background-color: #333333;
}